In [42]:
import pymongo
import pandas as pd

In [43]:
# Establish a connection to MongoDB (replace connection string if needed)
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Access the database
db = client['mock_Weather']

# Access the 'users' collection
usersCollection = db['users']

In [44]:
# Create a unique index on the 'username' field
usersCollection.create_index("username", unique=True)

'username_1'

In [45]:
# Sample data for 'users' collection
users = [
    {
        "first_name": "John",
        "last_name": "Doe",
        "username": "john_doe",
        "email": "john.doe@example.com",
        "profile_image": "",
        "favorites": [{"zip": 76701,
                       "town": "waco, tx"},
                      {"zip": 76702,
                       "town": "waco, tx"}],
        "home": {"zip": 75201,
                "town": "dallas, tx"},
        "password": "password123"
    },
    {
        "first_name": "Jane",
        "last_name": "Smith",
        "username": "jane_smith",
        "email": "jane.smith@example.com",
        "profile_image": "",
        "favorites": [{"zip": 12477,
                       "town": "saugerties, ny" },
                      {"zip": 20001,
                       "town": "washington, dc"}],
        "home": {"zip": 10001,
                "town": "new york, ny"},
        "password": "password321"
    }
]

In [46]:
# Insert the sample data into the 'users' collection
try:
    usersCollection.insert_many(users)
    print("Data inserted successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

Data inserted successfully.

In [47]:
# Query all documents in the 'users' collection
usersDocuments = usersCollection.find({})

# Display the data using a pandas DataFrame
pd.DataFrame(list(usersDocuments))

,_id,first_name,last_name,username,email,profile_image,favorites,home,password
0,64f00ec47cd243cba8265383,John,Doe,john_doe,john.doe@example.com,,"[{'zip': 76701, 'town': 'waco, tx'}, {'zip': 7...","{'zip': 75201, 'town': 'dallas, tx'}",password123
1,64f00ec47cd243cba8265384,Jane,Smith,jane_smith,jane.smith@example.com,,"[{'zip': 12477, 'town': 'saugerties, ny'}, {'z...","{'zip': 10001, 'town': 'new york, ny'}",password321